* {
    text-decoration: none;
}
body {
    /* margin-left : auto; */
    /* margin-right : auto; */
    margin: auto;
    /* height: 100%; */
    /* width: 80vw; */
    /* height: 80vh; */
}
/* 
body {
    padding: 20px;
} */